@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter";
  font-weight: 400;
  /*     margin: 1.5rem 0; */
}

html {
  font-size: 100%;
  /* 16px */
}

h1, h1 span {
  font-size: 2.81rem;
  font-weight: 600;
  /* 67.36px */
}

h2 {
  font-size: 2.658rem;
  /* 50.56px */
}

h3 {
  font-size: 2.369rem;
  /* 37.92px */
}

h4 {
  font-size: 1.777rem;
  /* 28.48px */
}

h5 {
  font-size: 1.333rem;
  /* 21.28px */
}

small {
  font-size: 0.75rem;
  /* 12px */
}

* {
  font-family: "Inter";
  font-weight: 400;
  color: #d2cfca;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

h1 span {
  background: linear-gradient(45deg, #562684, #74fb4d);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-typ1 {
  font-family: "Inter";
  display: inline-block;
  min-width: 150px;
  padding: 0.6rem 1rem;
  margin-top: 1rem;
  color: #d2cfca;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  position: relative;
  background-color: #2f1b48;
  border: 2px solid #562684;
  border-radius: 10px;
}
.btn-typ1:hover {
  cursor: pointer;
  color: #d2cfca;
  background-color: #562684;
  transition: background-color 0.3s ease-in-out;
}

.btn-typ2 {
  font-family: "Inter";
  display: inline-block;
  min-width: 150px;
  padding: 0.6rem 1rem;
  margin-top: 1rem;
  color: #181a1b;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  position: relative;
  background-color: #74fb4d;
  border: 2px solid #74fb4d;
  border-radius: 10px;
}
.btn-typ2:hover {
  cursor: pointer;
  color: #d2cfca;
  background-color: #2f1b48;
  transition: background-color 0.3s ease-in-out;
}

.container {
  padding: 20px;
  width: 550px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to bottom, #562684 30%, #2f1b48);
  border-radius: 30px;
  box-shadow: #74fb4d 0px 20px 30px -10px;
  border: 1px solid #562684;
}

.header {
  height: 15%;
}

.content {
  height: 60%;
  display: flex;
  /* margin: 20px auto 20px auto */
}
.content img {
  margin: auto;
  width: 254px;
  display: block;
}

.footer {
  height: 25%;
}

.inputfield {
  display: flex;
  width: 80%;
  margin: 0px auto 10px auto;
}

.icon {
  padding: 10px;
  border: 1px solid #562684;
  background-color: #2f1b48;
  height: 40px;
  min-width: 50px;
  /* margin: 0px auto 10px auto */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-webkit-outer-spin-button input[type=number],
input::-webkit-inner-spin-button input[type=number] {
  -moz-appearance: textfield;
}

#inpt-blackmoney {
  display: block;
  border: 1px solid #562684;
  background-color: #2f1b48;
  height: 40px;
  width: 90%;
  text-align: center;
  margin: 0px auto 10px auto;
}
#inpt-blackmoney:hover {
  color: #74fb4d;
  transition: background-color 0.3s ease-in-out;
}
#inpt-blackmoney:focus {
  outline: none;
  color: #74fb4d;
  transition: background-color 0.3s ease-in-out;
}/*# sourceMappingURL=style.css.map */